<ion-header>
  <ion-toolbar style="text-align: center">
    <ion-title><b>Movie List</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="agency && agency.movies">
<div style="display: flex; justify-content: center; padding-top: 20px; flex-flow: row wrap;">
    <ion-card
     style="flex-flow: row wrap; align-items: left; display: flex; flex-direction: column; cursor: pointer;  min-width: 200px; min-height: 300px;" 
     *ngFor="let idx of Object.keys(agency.movies)"
     (click)="openForm(agency.movies[idx])">
        <ion-card-header>
          <ion-card-title>{{idx}} {{agency.movies[idx].title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <p>Release: {{agency.movies[idx].release_date}}</p>
            <ion-list>
            <h2><u>Actors:</u></h2>
            <ul>
              <!-- <li *ngFor="let idx2 of Object.keys(agency.movies[idx].actors)">
                {{idx}} {{idx2}} {{agency.movies[idx].actors[idx2]}} -->
              <li *ngFor="let actor of agency.movies[idx].actors">
                {{idx}} {{actor.id}} {{actor.title}}
              </li>
            </ul>
            </ion-list>
          </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card
     style="opacity: .7; align-items: center; display: flex; flex-direction: column; cursor: pointer;" 
     *ngIf="auth.can('post:movies')"
     (click)="openForm()">
        <ion-card-header>
          <ion-card-title>Add Movie</ion-card-title>
        </ion-card-header>
      
        <ion-card-content style="color:grey; font-size: 256%;">
            <ion-icon name="add-circle"></ion-icon>
        </ion-card-content>
      </ion-card>
</div>
</ion-content>
