<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="isNew">New Movie Creator</ion-title>
    <ion-title *ngIf="!isNew">Movie Editor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="movie">

    <form (ngSubmit)="logForm()">
      <ion-item>
        <ion-label>Movie Name</ion-label>
        <ion-input type="text" [(ngModel)]="movie.title" name="title" placeholder="Template Man"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Release Date: </ion-label>
        <ion-datetime [(ngModel)]="movie.release_date" name="Release Date"></ion-datetime>
      </ion-item>
      <p style="align-items: right;">Selected Date: {{movie.release_date}}</p>

       
      <ion-item *ngFor="let actor of movie.actors; let i = index;  trackBy: customTrackBy">
        <ion-label > {{"Actor " + i + ": "}} </ion-label>
        <ion-label style="align-items: right;"> {{actor}} </ion-label>
      </ion-item>
      <ion-button 
        [disabled]="!auth.can('delete:movies')"
        (click)="deleteClicked()">Delete</ion-button><br />
      <ion-button (click)="closeModal()">Cancel</ion-button>
      <ion-button 
        [disabled]="!auth.can('patch:movies') || !auth.can('post:movies')"
        (click)="saveClicked()">Save</ion-button>

    </form>
</ion-content>