<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="isNew">New Actor Creator</ion-title>
    <ion-title *ngIf="!isNew">Actor Editor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="actor">

    <form (ngSubmit)="logForm()">
      <ion-item>
        <ion-label>Actor Name</ion-label>
        <ion-input type="text" [(ngModel)]="actor.name" name="name" placeholder="Template Man"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Age: </ion-label>
        <ion-input type="number" [(ngModel)]="actor.age" name="age" placeholder="-1"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Gender: </ion-label>
        <ion-input type="text" [(ngModel)]="actor.gender" name="gender" placeholder="male"></ion-input>
      </ion-item>

       
      <ion-item *ngFor="let movie of actor.movies; let i = index;  trackBy: customTrackBy">
        <ion-item slot="start">  
          <ion-label>Movie {{i}}: </ion-label>
        </ion-item>
        <ion-item>
          <ion-select [(ngModel)]="movie.id" name="Movie" (ionChange)="handleChange($event)" style="min-width: 300px;">
            <ion-select-option 
              *ngFor="let key of getKeys(agencyService.movies)" 
              [value]="agencyService.movies[key].id" >
                {{agencyService.movies[key].title}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item style="display: flex; align-items: right" slot="end">
          <ion-button (click)="removeMovie(i)">Remove</ion-button><br />
        </ion-item>
      </ion-item>
      <ion-item>
        <ion-button (click)="addMovie()" slot="end">ADD</ion-button><br />   
      </ion-item>

      <ion-button 
        [disabled]="!auth.can('delete:actors')"
        (click)="deleteClicked()">Delete</ion-button><br />
      <ion-button (click)="closeModal()">Cancel</ion-button>
      <ion-button 
        [disabled]="!auth.can('patch:actors') || !auth.can('post:actors')"
        (click)="saveClicked()">Save</ion-button>

    </form>
</ion-content>